<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" parallel="classes" thread-count = "10">
    <listeners>
        <listener class-name="Retry.MyAnnotationTransformer"/>
    </listeners>
    <test name="TestNgExecutionHomework" >
        <groups>
            <define name="AllGroups">
                <include name=".*End"/>

            </define>
            <run>
                <include name="AllGroups"/>
            </run>
        </groups>
        <classes>
            <class name="CheckboxTests" />
            <class name="RadioButtonTests" />
            <class name="Retry.TryMyCustomAnnotation"/>

        </classes>
    </test>
</suite>